       /*Footer*/

       footer{
        background-color: #353535;
       }
  
       .footermenu {
        display: flex;
        flex-direction: column;
        color: white;
        margin-bottom: 10px;
        padding-bottom: 10px;
        
    }

    .homepage-footer-ohmyfood-logo img{
        fill: white;
        margin-top: 10px;
       
    }

    ul{
        list-style: none;
        height: 100%;
    }

    footer p{
        display: flex;
        font-size: medium;
        gap: 5px;

    }

    li{
        display: flex;
        flex-direction: column;
        padding: 0;
         
    }


