       /*Footer*/

       footer{
        background-color: #353535;
       }
  
       .white-ohmyfood-logo {
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 10px;
        padding-left: 40px;
        padding-top: 20px;
       
    }

       .footermenu {
        display: flex;
        flex-direction: column;
        color: white;
        margin-bottom: 10px;
        padding-bottom: 10px;
        
    }

 
    ul{
        list-style: none;
        height: 100%;
    }

    footer p{
        display: flex;
        font-size: medium;
        gap: 5px;

    }

    li{
        display: flex;
        flex-direction: column;
        padding: 0;
         
    }


