/* Header */

.homepage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.homepage-header-ohmyfood-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 20%;
}

.homepage-header-location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-shadow: 2px;
    gap: 5%;
}

.hero-banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.hero-banner-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner-info-section-title{
    display: flex;
    flex-direction: column;
}
        
.hero-banner-title h1{
    display: flex;
    flex-direction: column;
}
                    
                