/* Header */

.homepage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0;
}

.homepage-header-ohmyfood-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 113px;
    
}

.homepage-header-ohmyfood-logo img {
    height: 63px;
   
}

.homepage-header-location {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));    
    background-color: #D9D9D9;
    gap: 10px;
}

.hero-banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 179px;
    background-color: rgba(210, 210, 210, .3);
  
}

.hero-banner-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
        
h1.hero-banner-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
}

p.hero-banner-text {
     text-align: center;
     padding-bottom: 10px;
     
}
                    
