/* Header */

.homepage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 2PX 1PX 0PX lightgrey;
}

.homepage-header-ohmyfood-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 113px;
}

.homepage-header-ohmyfood-logo img {
    height: 63px;
}

.homepage-header-location {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4PX 2PX 0PX lightgrey;
    background-color: #EAEAEAEA;
    gap: 5%;
}

.hero-banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner-info-section-title{
    display: flex;
    flex-direction: column;
}
        
.hero-banner-title h1{
    display: flex;
    flex-direction: column;
}
                    
                