/*Navigation Menu*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 63px;
    width: 100%;
    position: relative;

    &__back-arrow {
        display: flex;
        color: black;
        justify-content: flex-start;
        position: absolute;
        left: 5%;
        font-size: 25px;
    }
}