/*Navigation Menu*/
nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 63px;  
    width: 100%;
}


.back-arrow {
    display: flex;
    color: black; 
    justify-content: center;
    position: absolute;
    font-size: 25px;
 }




