/*Button Style*/

.fa-arrow-left {
    display: none;
    color: black;
}


.fa-location-dot {
    display: flex;
    color: #353535;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 16px;
}

.explore-button {
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(45deg, #FF79DA, #9356DC);
border: none;
border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
 width: 60%;
 padding: .625rem;
color: white;

cursor: pointer;
font-weight: bold;


}



/* Background colour on hover */
.explore-button button:hover {
    background-color: #DEEBFF;
}


.fa-heart{
    cursor: pointer;
    float: right;
    padding: .625rem;
    color: white;
    font-size: 1rem;
    height: 3.063rem;
    font-weight: bold;
    border-color: pink;
    border-radius: 0rem 1rem 1rem 0rem;
    border-right: none;

}


.submit:hover {
    cursor: pointer;
}


.btn-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-group button {
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    font-weight: 800;
    border: 1px solid #D9D9D9;
    /* Grey tint border */
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
    padding: .625rem;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
}

/* Background colour on hover */
.btn-group button:hover {
    background-color: #DEEBFF;
}

.filter-icons::before {
    display: inline-block;
}

.info-icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;

}

.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 3px;
    width: 25px;
    height: 25px;
}
