/* Submit Button Style*/
.info-group-p {
    margin-bottom: 20px;
}

.fa-location-dot {
    display: flex;
    color: grey;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.063rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
}


.search-icon {
    cursor: pointer;
    float: right;
    padding: .625rem;
    background-color: blue;
    color: white;
    font-size: 1rem;
    height: 3.063rem;
    font-weight: bold;
    border-color: blue;
    border-radius: 0rem 1rem 1rem 0rem;
    border-right: none;
    /* Prevent double borders */
}

.submit:hover {
    cursor: pointer;
}

.fa-magnifying-glass {
    display: none;
}
