/* Info Group */
.info-group-p {
    margin-bottom: 20px;
}

.fa-location-dot {
    display: flex;
    color: grey;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.063rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
}
