@media (min-width: 1025px) {

    .fonctionnement-section {
        height: 100%;
    }
  
    .fonctionnementcards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 25%;
        justify-content: space-between;
        gap: 5px;
    }
  
    .fonctionnementcards a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .restaurant-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        gap: 5px;
        padding: 0;
    }
}