

@for $i from 1 through 10 {
    .dish-#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }

/*
.dish .dish-1 {
    animation-delay: $anim-delay 0.3s;
}

.dish .dish-2 {
    animation-delay: $anim-delay 0.6s;
}

.dish .dish-3 {
    animation-delay: $anim-delay 0.9s;
}

.dish .dish-4 {
    animation-delay: $anim-delay 0.12s;
}

.dish .dish-5 {
    animation-delay: $anim-delay 0.15s;
}

.dish .dish-6 {
    animation-delay: $anim-delay 0.18s;
}

.dish .dish-7 {
    animation-delay: $anim-delay 0.21s;
}

.dish .dish-8 {
    animation-delay: $anim-delay 0.24s;
}

.dish .dish-9 {
    animation-delay: $anim-delay 0.27s;
}

.dish .dish-10 {
    animation-delay: $anim-delay 0.30s;
}
    */
