:root {
    /*Colours*/
    --main-color: black;
    --main-bg-color: #F6F6F6;
    --white: #FFFFFF;
    --green-line: #99E2D0;
    --nouveau-green: #008766;
    --footer-black: #353535;
    --light-grey: #EAEAEA;
    --icon-grey: grey;
    --icon-purple: #9356DC;
    --button-color: linear-gradient(180deg, #FF79DA, #9356DC);

}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.section-title {
    font-size: 28px;
    text-align: left;
    font-family: Roboto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}