/* Error: Expected digit.
 *    ,
 * 24 |     width:100%.
 *    |                ^
 *    '
 *   SASS\pages\_home.scss 24:16  @import
 *   SASS\main.scss 16:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a    \2577 \a 24 \2502      width:100%.\d\a    \2502                 ^\a    \2575 \a   SASS\\pages\\_home.scss 24:16  @import\a   SASS\\main.scss 16:9          root stylesheet";
}
