:root {
  --main-color: black;
  --main-bg-color: #F6F6F6;
  --filter-bg-color: #DEEBFF;
  --primary-gray: #D9D9D9;
  --main-btn-color: linear-gradient(180deg, #FF79DA, #9356DC);
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0rem;
  font-size: 1.375rem;
}

.card {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0;
  filter: drop-shadow(0rem 0.188rem 0.938rem rgba(0, 0, 0, 0.1));
}

/*General Navigator Reset*/
.html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: none;
}

.body,
.ol,
.ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.ol,
.ul {
  list-style: none;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-family: shrikhand;
  font-size: 12px;
}

.h1,
.h2,
.h3,
.h4,
.p {
  margin: 0px;
}

.fa-regular {
  color: inherit;
  background-color: inherit;
}

.fa-solid {
  color: inherit;
  background-color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: Shrikhand;
}

/*Button Style*/
.fa-location-dot {
  display: flex;
  color: #353535;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 16px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
  padding: 15px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Background colour changes on explore button */
.action-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
  padding: 15px;
  color: white;
  cursor: pointer;
  filter: brightness(1.35);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.fa-mobile-screen-button {
  color: grey;
  font-size: 19.9px;
}

.fa-list-ul {
  color: grey;
  font-size: 19.9px;
}

.fa-store {
  color: #9356DC;
  font-size: 19.9px;
}

/*Like Buttons*/
.like-buttons {
  display: flex;
  justify-content: right;
  cursor: pointer;
  align-items: center;
  font-size: 30px;
}

.like-button {
  border-color: black;
  border-radius: 5px;
  font-weight: lighter;
  position: absolute;
  top: 20px;
  right: 15px;
}

.like-button-fill {
  position: absolute;
  top: 20px;
  right: 15px;
  opacity: 0;
  background: -webkit-linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 350ms ease-in-out;
  -webkit-text-fill-color: linear-gradient(180deg, #FF79DA, #9356DC);
}

/* Background colour on love button */
.like-button-fill:hover {
  opacity: 1;
}

/*Footer icons*/
.fa-utensils {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  color: white;
}

.fa-handshake-angle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  color: white;
}

.white-ohmyfood-logo {
  font-family: shrikhand;
}

/*Restaurant*/
/*Restaurant Like Buttons*/
.restaurant-like-buttons {
  display: flex;
  cursor: pointer;
  font-size: 30px;
  position: relative;
}
@media (min-width: 1025px) {
  .restaurant-like-buttons {
    font-size: 35px;
  }
}

.like-button-restaurant {
  border-color: black;
  border-radius: 5px;
  font-weight: lighter;
  position: absolute;
  top: 68px;
  right: 30px;
  margin-top: -70px;
}

.like-button-fill-restaurant {
  position: absolute;
  top: 68px;
  right: 30px;
  opacity: 0;
  background: -webkit-linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 350ms ease-in-out;
  -webkit-text-fill-color: linear-gradient(180deg, #FF79DA, #9356DC);
}

/* Background colour on love button */
.like-button-fill-restaurant:hover {
  opacity: 1;
}

/*Check section*/
.fa-circle-check {
  display: none;
}

.fa-circle-check:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0rem 1.563rem 1.563rem 0rem;
  padding: 15px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 350ms ease-in-out;
  color: #99E2D0;
}

/*Order section*/
.ordersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 55px 0;
}

.orderbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
  padding: 15px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 80px 20px 80px;
}

/* Background colour changes on order button */
.orderbutton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
  padding: 15px;
  color: white;
  cursor: pointer;
  filter: brightness(1.35);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 80px 20px 80px;
}

/*cards__title::after {
    content: "";
    display: block;
    width: 2.5rem;
    height: 0.1875rem;
    background: #99E2D0;
}*/
/*Footer*/
footer {
  background-color: #353535;
}
@media (min-width: 1025px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    padding-right: 30px;
  }
}

.white-ohmyfood-logo {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10px;
  padding-left: 40px;
  padding-top: 20px;
}
@media (min-width: 1025px) {
  .white-ohmyfood-logo {
    padding: 0px 30px;
  }
}

.footermenu {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
@media (min-width: 1025px) {
  .footermenu {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
  }
}

ul {
  list-style: none;
  height: 100%;
}

footer p {
  display: flex;
  font-size: medium;
  gap: 5px;
}

li {
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* Header */
.homepage-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  margin: 0;
}

.homepage-header-ohmyfood-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63px;
  margin-top: 10px;
}

.homepage-header-ohmyfood-logo img {
  height: 40px;
}

.homepage-header-location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
  background-color: #EAEAEA;
  gap: 30px;
  font-weight: 600;
  font-size: 19px;
}

.hero-banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 30px 0 55px 0;
}

.hero-banner-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.hero-banner-title {
  text-align: center;
  margin-bottom: 0px;
}

p.hero-banner-text {
  text-align: center;
  padding-bottom: 15px;
}

.container-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 1.5s 1.5s forwards;
}
.container-loader .loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 6.7px;
  background: conic-gradient(from 135deg at top, #ec47ff 90deg, rgba(0, 0, 0, 0) 0) 0 calc(50% - 4.5px)/19px 9.5px, radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0) calc(100% - 6.7px), #ec47ff calc(100% - 5.6px) 99%, rgba(0, 0, 0, 0)) top right/50% 50% content-box content-box, radial-gradient(farthest-side at top, rgba(0, 0, 0, 0) calc(100% - 6.7px), #ec47ff calc(100% - 5.6px) 99%, rgba(0, 0, 0, 0)) bottom/100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: spinner-v8og74 1s infinite linear;
}

/*Navigation Menu*/
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFFFFF;
  height: 63px;
}

/*Navigation Logo*/
.ohmyfood-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ohmyfood-logo img {
  height: 30px;
}

/**Restaurant**/
.homepage-header {
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFFFFF;
  position: relative;
}

.back-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  left: 10%;
}

.back-arrow::before {
  height: 10px;
}

.fonctionnement-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 30px 20px 40px 20px;
}
@media (min-width: 1025px) {
  .fonctionnement-section {
    height: 100%;
    padding: 30px 10% 40px 10%;
  }
}

h1.fonctionnement-section-title {
  text-align: left;
}

.fonctionnementcards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1025px) {
  .fonctionnementcards {
    flex-direction: row;
    justify-content: space-between;
  }
}

.fonctionnement-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  gap: 20px;
  padding: 10px 25px;
  font-size: 11px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media (min-width: 1025px) {
  .fonctionnement-card-content {
    width: 27%;
  }
}

.fonctionnement-number-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border: none;
  border-radius: 50%;
  width: 12px;
  padding: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  left: -10px;
}

h2.fonctionnementcards {
  text-align: center;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 30px 20px 40px 20px;
  margin-top: 20px;
}
@media (min-width: 1025px) {
  .restaurant-section {
    padding: 30px 10% 40px 10%;
  }
}

h1.restaurant-section-title {
  text-align: left;
  padding: 15px 5px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  gap: 5px;
  padding: 0;
}
@media (min-width: 1025px) {
  .restaurant-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: space-between;
    gap: 30px;
  }
}

.restaurant-card {
  border-radius: 30px;
  background-color: white;
  height: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  gap: 20px;
}

@media (min-width: 1025px) {
  .restaurant-card {
    width: 45%;
    justify-content: space-between;
  }
}

.restaurant-cards img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 221px;
  width: 100%;
  object-fit: cover;
}

.restaurant-card-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.restaurant-card-title {
  padding-left: 5px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.restaurant-card-subtitle {
  padding-left: 5px;
}

.nouveau {
  background-color: #99E2D0;
  color: #008766;
  padding: 5px;
  position: absolute;
  top: -220px;
  right: 15px;
}

.restaurant-photo img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 0px 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  margin-top: -30px;
}
@media (min-width: 1025px) {
  .menu-section {
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 10%;
    padding-left: 10%;
  }
}

.menu-section-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .menu-section-header {
    justify-content: center;
    gap: 61px;
  }
}

.menu-section-title {
  display: flex;
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 1025px) {
  .menu-section-title {
    justify-content: center;
    font-size: 35px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.menu h2 {
  font-family: Roboto, sans-serif;
  padding-top: 30px;
  font-weight: 300;
}

.greenline::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.1875rem;
  background: #99E2D0;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
}

.menu-cards h2 p {
  padding: 0px;
}

.menu-cards p {
  font-size: 15px;
}

.dish {
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  padding: 0px 25px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.dish h3 {
  margin-bottom: 0;
}

.dishwrap {
  display: flex;
  justify-content: space-between;
}

/*loader keyframe*/
@keyframes spinner-v8og74 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    transform: scale(0);
  }
}
#site-search::placeholder { /* pour les navigateurs modernes */
  color: black;
}

#site-search::-webkit-input-placeholder { /* pour Google Chrome */
  color: black;
}

#site-search::-moz-placeholder { /* pour Mozilla Firefox */
  color: black;
}

#site-search:-ms-input-placeholder { /* pour Internet Explorer */
  color: black;
}

#site-search:-o-input-placeholder { /* pour Opera */
  color: black;
}

@media (min-width: 1025px) {
  /**Homepage**/
  .fonctionnementcards a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /**Restaurants**/
}

/*# sourceMappingURL=style.css.map */
