.fonctionnement-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 20%;
}

h1.fonctionnement-section-title {
    text-align: left;
    padding: 15px 5px;
    
}

.fonctionnementcards{
    display: flex;
    flex-direction: column;
    gap: 5px;

}


.fonctionnement-card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 1.25rem;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(210, 210, 210, .3);
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.3));   
}

.fonctionnement-number-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    border: none;
    border-radius: 55px;
     width: 5px;
     padding: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    left: -3%;

}

.restaurant-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(210, 210, 210, .3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
   
  
}

h1.restaurant-section-title {
    text-align: left;
    padding: 15px 5px;
}

.restaurant-cards {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    gap: 5px;
    padding: 0;
    
}

.restaurant-card {
    border-radius: 30px;
    background-color: white;
    height: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.restaurant-cards img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 221px;
    width: 100%;

}
.restaurant-card-content{
    display: flex;
    flex-direction: column;

}

.restaurant-card-title {
    padding-left: 5px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.restaurant-card-subtitle {
    padding-left: 5px;
}


