.homepage-header-location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
    background-color: #EAEAEA;
    gap: 30px;
    font-weight: 600;
    font-size: 19px;
}

/***--Hero Banner--*/
.section__hero-banner {
    align-items: center;
    text-align: center;
    padding: 30px 20px 40px 20px;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title {
        font-family: Roboto;
        margin-bottom: 0px;

        &__text {
            margin-bottom: 25px;
        }
    }
}

/***--Fonctionnement section--*/
.section__fonctionnement {
    background-color: #FFFFFF;
    padding: 30px 20px 40px 20px;
    margin-bottom: 40px;

    @media (min-width: 1025px) {
        height: 100%;
        padding: 30px 10% 40px 10%;
    }
}

h2.section-title__fonctionnement.section-title {
    margin-bottom: 25px;
}

.card__fonctionnement {
    gap: 20px;
}

@media (min-width: 1025px) {
    .card__fonctionnement a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card__fonctionnement h2 {
    text-align: center;
}

.fonctionnement {

    &__card-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 1.25rem;
        gap: 20px;
        padding: 10px 25px;
        font-size: 11px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative;

        @media (min-width: 1025px) {
            width: 27%;
        }

        &__number-card {
            background-color: #9356DC;
            border: none;
            border-radius: 50%;
            width: 12px;
            padding: 5px;
            color: white;
            cursor: pointer;
            font-weight: bold;
            position: absolute;
            left: -10px;
        }
    }
}

.section__restaurant {
    padding: 0px 20px 75px 20px;
    margin-top: 0px;
    margin-bottom: -10px;

    @media (min-width: 1025px) {
        padding: 30px 10% 40px 10%;
    }
}

.section-title__restaurant {
    padding: 15px 5px;
}

.card__restaurant-section {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    gap: 5px;
    padding: 0;

    @media (min-width: 1025px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
}

.card__restaurant {
    gap: 20px;
    
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        border-radius: 30px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        gap: 20px;

        &__title {
            padding-left: 5px;
            padding-bottom: 0%;
            margin-bottom: 0%;

            &__subtitle {
                padding-left: 5px;
            }
        }
    }
}

.card__restaurant img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 221px;
    width: 100%;
    object-fit: cover;
}


.nouveau {
    background-color: #99E2D0;
    color: #008766;
    padding: 5px;
    position: absolute;
    top: -220px;
    right: 15px;
}