
.restaurant-photo img{
        height: 275px;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.menu-section-title{
    display: flex;
    flex-wrap: wrap;
}

    .greenline::after {
        content: "";
        display: block;
        font-family: Roboto,sans-serif;
        width: 2.5rem;
        height: 0.1875rem;
        background: #99E2D0;
    }

    .dish {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.25rem;
        gap: 20px;
        padding: 10px 25px;
        font-size: 11px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        
    }
    