.restaurant-photo img {
    height: 275px;
    width: 100%;
    object-fit: cover;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 0px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    margin-top: -30px;

    @media (min-width: 1025px) {

        margin-left: 10%;
        margin-right: 10%;
        padding-right: 10%;
        padding-left: 10%;

    }
}

.menu-section-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    @media (min-width: 1025px) {

        justify-content: center;
        gap: 61px;

    }
}

.menu-section-title {
    display: flex;
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
  
    
    @media (min-width: 1025px) {
        justify-content: center;
        font-size: 35px;

    }
}

/*Restaurant Like Buttons*/

.like-button-restaurant {
    border-color: black;
    border-radius: 5px;
    font-weight: lighter;
    position: absolute;
    top: 100px;
    right: 40px;
    margin-top: -70px;
}

.like-button-fill-restaurant {
    position: absolute;
    top: 30px;
    right: 40px;
    opacity: 0;
    background: -webkit-linear-gradient(180deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 350ms ease-in-out;
    -webkit-text-fill-color: linear-gradient(180deg, #FF79DA, #9356DC);
}

/* Background colour on love button */

.like-button-fill-restaurant:hover {
    opacity: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.menu h2 {
    font-family: Roboto, sans-serif;
    padding-top: 30px;
    font-weight: 300;
}

.greenline::after {
    content: "";
    display: block;
    width: 2.5rem;
    height: 0.1875rem;
    background: #99E2D0;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
}

.menu-cards h2 p {
    padding: 0px;
}

.dish {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    padding: 0px 25px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.dish h3{
    margin-bottom: 0;
}

.dishwrap {
    display: flex;
    justify-content: space-between;
}