


.restaurant-photo img {
    height: 275px;
    width: 100%;
    object-fit: cover;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 0px 10px;
    gap: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media (min-width: 1025px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FFFFFF;
        margin: 0px 10px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: absolute;
        z-index: 1;
    }
}

.menu-section-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-section-title {
    display: flex;
    font-family: Shrikhand;
    font-size: 35px;
    font-weight: 400;
}

.menu-section-title .like-button {
    border-color: black;
    border-radius: 5px;
    font-weight: lighter;
    position: relative;
    right: -26px;
    top: 6px;
}

.menu-section-title .like-button-fill {
    position: relative;
    right: -26px;
    top: 6px;
    opacity: 0;
    background: -webkit-linear-gradient(180deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 350ms ease-in-out;
    -webkit-text-fill-color: linear-gradient(180deg, #FF79DA, #9356DC);
}

.menu-section-title .like-button-fill:hover {
    opacity: 1;
}

.menu {
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 10px;

}
.greenline::after {
    content: "";
    display: block;
    font-family: Roboto, sans-serif;
    width: 2.5rem;
    height: 0.1875rem;
    background: #99E2D0;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
}

.menu-cards h2 p {
    padding: 0px;
}

.dish {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    padding: 0px 25px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.dishwrap {
    display: flex;
    justify-content: space-between;
}