/*Button Style*/
@mixin button-colour {
    background: var(--button-color);
}

@mixin button-border {
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
}

@mixin button-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}