/*Colours*/
$main-color: black;
$main-bg-color: #F6F6F6;
$white: #FFFFFF;
$green-line: #99E2D0; 
$nouveau-green:#008766;
$footer-black: #353535;
$button-color: linear-gradient(180deg, #FF79DA, #9356DC);

/*Media queries*/
$mobile: 768px;
$tablette: 1024px;
$desktop: 1440px;

/*Dishes*/
$dish-no: 10;
$anim-delay: 0.3s;